<p>attribute-directive works!</p>
<div>*ngIf,*ngFor...</div>
<div class="row pt-3">
    <div class="col-3">
        <div  class="p-3 text-center" [ngClass]="div1BgClor">
            <h4>Div-1</h4>
        </div>
    </div>
    <div class="col-3">
        <div class="p-3 text-center" [ngClass]="isDiv2Active? 'bg-success' : 'bg-warning'">
            <h4>Div-2</h4>
        </div>
    </div>
    <div class="col-3">
        <div class="p-3 text-center" [ngClass]="num1==num2 ? 'bg-secondary':'bg-danger text-success'"> 
            <h4>Div-3</h4>
        </div>
    </div>
    <div class="col-3">
        <!-- <div class="bg-primary p-3 text-center" *ngIf="isActive">
            <h4>Div-4</h4>
            

        </div> -->
           <div class="p-3 text-center" [ngClass]="isActive? 'bg-primary': ''">
            <h4>Div-4</h4>
            

        </div>
    </div>
</div>


<div class="row pt-3">
    <div class="col-3">
        <button class="btn btn-danger" (click)="addRedClass()">Add Red</button>
        <button class="btn btn-primary mx-2"  (click)="addBlueClass()">Add Blue</button>

    </div>
    <div class="col-3">
        <button class="btn btn-success" (click)="isDiv2Active=!isDiv2Active">Toggle</button>

    </div>
    <div class="col-3 bg-secondary">
        <div style="display: flex;align-items: center;" >
            <input type="text" placeholder="num 1" [(ngModel)]="num1">
            <input type="text" placeholder="num 2" [(ngModel)]="num2">

        </div>
    </div>
    <div class="col-3">
        <input type="checkbox" [(ngModel)]="isActive">
        <select [(ngModel)]="selectedState">
            <option value=""></option>
            <option value="India">India</option>
            <option value="SL">SL</option>
            <option value="UK">UK</option>

        </select>
    </div>
</div>


<div class="row">
    <div class="col-3">
        <ul>
            <li *ngFor="let city of cityArray">
                {{city}}
            </li>
        </ul>
    </div>
    <div class="col-3">
        <select>
            <option *ngFor="let stud of studentList" [value]="stud.id">{{stud.name}}</option>
        </select>
    </div>
    <div class="col-3">
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Sr No.</th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Gender</th>
                    <th>Total Marks</th>
                    <th>Status</th>


                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of studentList;let srNo=index" >
                    <td>{{srNo}}</td>
                    <td>{{student.id}}</td>
                    <td>{{student.name}}</td>
                    <td>{{student.city}}</td>
                    <td>{{student.gender}}</td>
                    <td>

                        <div class="progress">
                            <div class="progress-bar" [ngStyle]="{'width':student.totalMarks + '%'}">{{student.totalMarks}}</div>
                        </div>
                    </td>
                    
                    <td [ngStyle]="{'background-color':student.isActive? 'yellow':'red'}">
                        <span>{{student.isActive ? 'Active' : 'De-Active'}}</span>
                   

                        <!-- {{student.isActive}} -->
                    </td>

                    
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-3"></div>
</div>

<div class="row">
    <div class="col-5">
        <div [ngStyle]="customerStyle">
            Div Style from Backend
        </div>
    </div>
</div>