<!-- <app-databinding></app-databinding> -->

<!-- <table style="width: 100%;">
  <tr>
    <td>
      <app-add-employee></app-add-employee>
    </td>
    <td>
      <app-employee-list></app-employee-list>
    </td>

  </tr>
</table> -->
<!-- <app-structural-directives></app-structural-directives> -->
<!-- <div class="container-fluid">
<h1>Hello Shubham</h1>

<app-attribute-directive></app-attribute-directive>
</div> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="add-emp" routerLinkActive="router-link-active" >Add Emp <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="emp-list">Emp List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="structural-dir">Structural Directives</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="attribute-dir">Attribute Directives</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="controlFlow">Control Flow</a>
      </li>
    </ul>
   
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>